    <div class="sidebar" data-color="red" data-image="/images/sidebar-4.jpg">  
    
      <!--

          Tip 1: you can change the color of the sidebar using: data-color="blue | azure | green | orange | red | purple"
          Tip 2: you can also add an image using data-image tag

      -->
    
    	
        <div class="logo">
            <a href="/" class="logo-text">
                SPRINT REPORTS
            </a>
        </div>
        
        <div class="sidebar-wrapper">
            <!--
            <div class="user">
                <div class="photo">
                    <img src="/images/default-avatar.png">
                </div>                 
                <div class="info">
                    <a data-toggle="collapse" href="#collapseExample" class="collapsed" aria-expanded="false">
                        Oasis
                        <b class="caret"></b>
                    </a>                
                    <div class="collapse" id="collapseExample" aria-expanded="false" style="height: 0px;">
                        <ul class="nav">
                            <li><a href="#">My Profile</a></li>
                            <li><a href="#">Edit Profile</a></li>
                            <li><a href="#">Settings</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            -->
            
            
            <ul class="nav">
                <%
                if(req.path !== '/projects' && req.path !== '/projects/') { %>
                <li <% if(typeof sprintMenuActive !== 'undefined') { %>class="active"<% } %>>
                    <a href="#menu-sprints" id="componentLink" data-toggle="collapse" aria-expanded="false" class="collapsed">
                        <i class="pe-7s-display1"></i>
                        <p>Sprint Reports <b class="caret"></b></p>
                    </a>
                    <div class="collapse out" id="menu-sprints" aria-expanded="false">
                        <ul class="nav">
                            <% if (typeof sprintData !== 'undefined') { %>
                            <% 
                            var max = 5;
                            if(sprintData.length < 5) {
                                max = sprintData.length;
                            }
                            
                            for(i=0; i<max; i++) { 
                            %>
                            <li><a href="/<%=req.param('id')%>/sprints/report/<%=sprintData[i].id %>"><%=sprintData[i].sprintname%></a></li>
                            <% } %>
                            <% if (sprintData.length > 0) { %>
                            <li><a href="/<%=req.param('id')%>/sprints/">... View All</a></li>
                            <% } %>
                            <% } %>
                        </ul>
                    </div>
                </li>
                <% if (req.param('id')) { %>
                <li <% if(typeof storyMenuActive !== 'undefined'){ %>class="active"<% } %>>
                    <a href="/<%=req.param('id')%>/stories/">
                        <i class="pe-7s-notebook"></i>
                        <p>Project Stories</p>
                    </a>
                </li>
                <li <% if(typeof dependencyMenuActive !== 'undefined'){ %>class="active"<% } %>>
                    <a href="/<%=req.param('id')%>/dependencies/">
                        <i class="pe-7s-plugin"></i>
                        <p>Project Dependencies</p>
                    </a>
                </li>
                <% } %>
                <li class="active previous">
                    <a href="/projects/">
                        <i class="pe-7s-folder"></i>
                        <p>Back to Projects</p>
                    </a>
                </li>
                <% } else { %>
                <li class="active">
                    <a href="/projects/">
                        <i class="pe-7s-folder"></i>
                        <p>Projects</p>
                    </a>
                </li>
                <% } %>
            </ul>
    	</div>
    </div> <!-- end side bar -->