<%

    function formatDate(date) {
        if(typeof date !== 'undefined' && date !== null) {
            var dateFormatted = ('0' + date.getDate()).slice(-2) + '/'+ ('0' + (date.getMonth()+1)).slice(-2) + '/' + date.getFullYear();
            return dateFormatted;
        }
    }

%>


                 
                    <div class="col-md-12">
                        <div class="progress" style="height: 10px;">
                            <div class="progress-bar" data-toggle="tooltip" title="<%=reportData[0].sprintcompletion%>% Project Completion Overall" role="progressbar" aria-valuenow="<%=reportData[0].sprintcompletion%>" aria-valuemin="0" aria-valuemax="100" style="width: <%=reportData[0].sprintcompletion%>%;">
                                <span class="sr-only"><%=reportData[0].sprintcompletion%>% Complete</span>
                            </div>
                        </div>
                        <div style="height: 10px;"></div>

                        <div class="card">
                            <div class="header">
                                <h4 class="title"><%=reportData[0].sprintname %> - Sprint Report</h4>
                                <p class="category"><%=formatDate(reportData[0].sprintdatefrom) %> - <%=formatDate(reportData[0].sprintdateto)%></p>
                                <div class="pull-right">
                                    <a href="" class="btn btn-primary">View Public Report</a>
                                    <a href="/<%=req.param('id')%>/sprints/edit/<%=reportData[0].id%>" class="btn btn-primary btn-fill">Edit Sprint Data</a>
                                </div>
                            </div>
                            <div class="content content-full-width">
                                <ul role="tablist" class="nav nav-tabs">
                                    <li role="presentation" class="active">
                                        <a href="#overview" data-toggle="tab"><%=reportData[0].sprintname %> - Overview</a>
                                    </li>
                                    <li>
                                        <a href="#dependencies" data-toggle="tab"><%=reportData[0].sprintname %> Dependencies</a>
                                    </li>
                                    <li>
                                        <a href="#test" data-toggle="tab">Next Sprint</a>
                                    </li>
                                </ul>
                                
                                <div class="tab-content">
                                    <div id="overview" class="tab-pane active">
                                        <div class="col-md-4">
                                            <div class="card">
                                                <div class="header">
                                                    <div class="row">
                                                        <div class="col-md-12">
                                                            <h4 class="title">Sprint Observations</h4>
                                                            <p class="category">Sprint Notes</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="clearfix"></div>
                                                <div class="content sprint-notes <%=(reportData[0].sprintnotes.length == 0) ? 'no-data' : '' %>">
                                                    
                                                    <p><%=reportData[0].sprintnotes %></p>                                                    
                                                    
                                                </div>
                                            </div>
                                        </div>
                       
                                        
                                        
                                        
                                        
                                        <div class="col-md-8">
                                            <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Overall Velocity</h4>
                                                    <p class="category">Velocity Report</p>
                                                </div>
                                                <div class="content">
                                                    <!-- CHARTIST GRAPH -->
                                                    <div class="vel-chart ct-chart"></div>
                                                    <!-- END CHARTIST GRAPH -->
                                                    <div class="footer">
                                                        <div class="legend">
                                                            <i class="fa fa-circle text-info"></i>Velocity
                                                            <i class="fa fa-circle text-danger"></i> Target Velocity
                                                            <i class="fa fa-circle text-warning"></i> Average Velocity
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                            
                                            
                                            
                                         <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <h4 class="title">Dependencies affecting this sprint</h4>
                                                            <p class="category">Most Urgent Dependencies (Blockers Only)</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="/<%=reportData[0].project.jiraprojectref %>/dependencies/" class="btn btn-fill btn-primary pull-right">Edit</a>         
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                                
                                                <div class="content table-responsive table-full-width">
                                                    <table id="dependencies-shortlist-bootstrap-table" class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-1" data-field="dependencyref">Ref</th>
                                                                <th class="col-md-1" data-field="dependencypriority" data-formatter="formatPriority">Priority</th>
                                                                <th class="col-md-5" data-field="dependencydesc">Description</th>
                                                                <th class="col-md-2 text-right" data-field="stories" data-formatter="formatStories">Affected Stories</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                                
                                                
                                                
                                            </div>
                                        </div>
                                            
                                              
                                        
                                       <div class="col-md-12">
                                            <div class="card">
                                                
                                                <div class="header">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                            <h4 class="title"><%=reportData[0].sprintname %> - Stories Complete</h4>
                                                            <p class="category"><span class="completetotal"></span> Story Points</p>
                                                        </div>
                                                        <div class="col-md-4">
                                                            <a href="/<%=reportData[0].project.jiraprojectref %>/sprints/report/<%=reportData[0].id%>/completestories" class="btn btn-fill btn-primary pull-right">Reassign</a>         
                                                        </div>
                                                    </div>
                                                        
                                                </div>
                                                
                                                <div class="content table-responsive table-full-width">
                                                    <table id="complete-bootstrap-table" class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-1" data-field="storyjiraref" data-sortable="false">Story ID</th>
                                                                <th data-field="storydesc" data-sortable="false">Story</th>
                                                                <th class="col-md-2 hidden"data-field="storystatus" data-sortable="true">Status</th>
                                                                <th class="col-md-2 text-center" data-field="storypoints" data-sortable="true">Points</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>


                                        
                                        <div class="col-md-12">
                                            <div class="card">
                                                <div class="header">
                                                    <div class="row">
                                                        <div class="col-md-8">
                                                        <h4 class="title"><%=reportData[0].sprintname %> - Commitment</h4>
                                                        <p class="category"><span class="committotal"></span> Story Points</p>
                                                        </div>

                                                        <div class="col-md-4">
                                                            <a href="/<%=reportData[0].project.jiraprojectref %>/sprints/report/<%=reportData[0].id%>/stories" class="btn btn-fill btn-primary pull-right">Reassign</a>         
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="content table-responsive table-full-width">
                                                    <table id="commitment-bootstrap-table" class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-1" data-field="storyjiraref" data-sortable="false">Story ID</th>
                                                                <th data-field="storydesc" data-sortable="false">Story</th>
                                                                <th class="col-md-2 hidden" data-field="storystatus" data-sortable="true">Status</th>
                                                                <th class="col-md-2 text-center" data-field="storypoints" data-sortable="true">Points</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                        </div>
                                        
                                        
                                        
                                        
                                        
                                         <div class="clearfix"></div>
                                        
                                    </div>
                                    <div id="dependencies" class="tab-pane">

                                       <div class="col-md-14">
                                        <div class="card">
                                                <div class="header">
                                                    <h4 class="title">Dependencies Affecting This Sprint</h4>
                                                    <p class="category">Full List By Priority</p>
                                                </div>
                                                <div class="content table-responsive table-full-width">
                                                    <table id="dependencies-bootstrap-table" class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-1" data-field="dependencyref" data-sortable="true">Ref</th>
                                                                <th class="col-md-1" data-field="dependencypriority" data-sortable="true">Priority</th>
                                                                <th class="col-md-4" data-field="dependencydesc" data-sortable="false">Summary</th>
                                                                <th class="col-md-1" data-field="dependencyassignee" data-sortable="true">Assignee</th>
                                                                <th class="col-md-1" data-field="dependencystatus" data-sortable="true">Status</th>
                                                                <th class="col-md-2" data-field="stories" data-sortable="false" data-formatter="formatStories">Affected Stories</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                            <div class="clearfix"></div>
                                       </div>
                                    </div>
                                    <div id="test" class="tab-pane">
                                       <div class="col-md-14">
                                            <div class="card">

                                                <div class="header">
                                                    <h4 class="title">Next Sprint - Story Commitment List</h4>
                                                    <p class="category">Stories intended to be completed during the next sprint</p>
                                                </div>
                                                <div class="content table-responsive table-full-width">
                                                    <table id="nextsprint-bootstrap-table" class="table table-hover table-striped">
                                                        <thead>
                                                            <tr>
                                                                <th class="col-md-1" data-field="dependencyref" data-sortable="true">Ref</th>
                                                                <th class="col-md-1" data-field="dependencypriority" data-sortable="true">Priority</th>
                                                                <th class="col-md-4" data-field="dependencydesc" data-sortable="false">Summary</th>
                                                                <th class="col-md-1" data-field="dependencyassignee" data-sortable="true">Assignee</th>
                                                                <th class="col-md-1" data-field="dependencystatus" data-sortable="true">Status</th>
                                                                <th class="col-md-2" data-field="stories" data-sortable="false" data-formatter="formatStories">Affected Stories</th>
                                                            </tr>
                                                        </thead>
                                                    </table>
                                                </div>
                                            </div>
                                            
                                            </div><!--  end card  -->
                                        </div>
                                       <div class="clearfix"></div>
                                       
                                    </div>
                               </div>
                                
                            </div>
                        </div>
                    </div>