
    <div class="col-md-8">
        <div class="card">
            <div class="header">
                <h4 class="title"><%=reportData[0].sprintname %> - Report Setup</h4>
                <p class="category">Initial Configuration</p>
            </div>
            <div class="content">

                    <form id="sprint-form" method="POST" action="/sprints/setupcomplete/">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Sprint Name <star>*</star></label>
                                    <input class="form-control" required="required" aria-required="true" type="text" placeholder="Sprint Name" value="<%= reportData[0].sprintname%>" id="sprintname" name="sprintname" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Sprint Start Date <star>*</star></label>
                                    <input type="text" required="required" class="form-control datetimepicker" id="sprintdatefrom" name="sprintdatefrom" />
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-group">
                                    <label class="control-label">Sprint End Date <star>*</star></label>
                                    <input type="text" required="required" class="form-control datetimepicker" id="sprintdateto" name="sprintdateto" />
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            

                            <div class="col-md-10">
                                <div class="form-group">
                                    <label class="control-label">Public URL</label>
                                    <input class="form-control" required="required" disabled="disabled" ng-disabled="disabled" aria-required="true" type="text" value="<%= reportData[0].sprintpublicurl%>" id="sprintname" name="sprintname" />
                                </div>
                            </div>


                            <div class="col-md-2">
                                <div class="form-group">
                                    <label class="control-label">&nbsp;</label>
                                    <input type="button" class="btn btn-primary form-control" value="Bit.ly" id="bitly" name="bitly" />
                                </div>
                            </div>
                        </div>
                        
                        <div class="row">
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Sprint Velocity <star>*</star></label>
                                    <input class="form-control" required="required" aria-required="true" type="text" placeholder="Sprint Velocity" value="<%= reportData[0].sprintvelocity%>" id="sprintvelocity" name="sprintvelocity" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Sprint Target <star>*</star></label>
                                    <input class="form-control" required="required" aria-required="true" type="text" placeholder="Sprint Target" value="<%= reportData[0].sprinttarget%>" id="sprintvelocitytarget" name="sprintvelocitytarget" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Average Velocity</label>
                                    <input class="form-control" type="text" placeholder="Sprint Veloctiy" value="" id="" name="" />
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="form-group">
                                    <label class="control-label">Completion %</label>
                                    <input class="form-control" data-toggle="tooltip" title="Overall project completion" type="text" placeholder="Percent Complete" value="<%= reportData[0].sprintcompletion%>" id="sprintcompletion" name="sprintcompletion" />
                                </div>
                            </div>
                        </div>
                            
                        
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label class="loading">Sprint Observations</label>
                                    <textarea class="form-control" rows="10" id="sprintnotes" name="sprintnotes"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <div class="form-group">
                                    <button type="submit" id="submit" class="btn btn-primary btn-fill form-control">Continue</button>
                                </div>
                            </div>
                            <div class="col-md-1">
                                <div class="form-group">
                                    <input type="reset" id="cancel" class="btn btn-secondary btn-fill form-control hidden" value="Cancel" />
                                    <input type="hidden" id="id" value="<%=reportData[0].id%>" name="id" />
                                    <input type="hidden" id="sprintissetup" name="sprintissetup" value="true" />
                                    <input type="hidden" id="sprintpublicurl" name="sprintpublicurl" value="<%=reportData[0].sprintpublicurl%>" />
                                </div>
                            </div>
                        </div>
                    </form>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card">
            <div class="header">
                <h4 class="title">Previous Sprints</h4>
                <p class="category">Perfomance Comparison</p>
            </div>
            <div class="content table-responsive table-full-width">
                <table class="table table-hover table-striped">
                    <thead>
                        <tr>
                        <th>Sprint</th>
                        <th class="text-align">Velocity</th>
                        <th class="text-align">Target</th>
                        <th class="text-align">Complete</th>
                    </tr></thead>
                    <tbody>
                        <tr>
                            <td>Sprint 1</td>
                            <td class="text-center">98</td>
                            <td class="text-center">120</td>
                            <td class="text-center">10%</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
